# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
VENV/

# IDE / Editor folders
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db


spider_db/